<div class="jumbotron jumbotron-fluid text-center bg-info">
  <h1 class="display-4 text-white">Pictures</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">

      <app-search-bar
        (search)="onSearch($event)"
      ></app-search-bar>

      <ng-container *ngIf="pictures$ | async as pictures; else loading">
        <div class="pictures">
          <app-picture
            *ngFor="let picture of pictures"
            [picture]="picture"
          ></app-picture>
        </div>
      </ng-container>

      <ng-template #loading>
        <p class="lead text-center mt-5 loading-message">
          <i class="fas fa-spin fa-circle-notch fa-fw text-muted"></i> Loading
        </p>
      </ng-template>

    </div>
  </div>
</div>
